#selfImage{
    display: block;
    margin: auto;
    height: auto;
    text-align: center;
}

#selfImage a img{
    width: 50%;
    height:auto;
}

#columnContainer{
	display: flex;
	flex-wrap: wrap;
}

#blurb{
    text-align: left;
    padding: 10px;
}


#aboutMeLinks{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.aboutMeButton:hover{
    background-color: #54577F;
    font-size: 23px;
}

.aboutMeButton{
    display: inline-block;
    font-size: 20px;
    text-align: center;
    padding:8px;
    font-weight: bold;
    color: #000000;
    text-decoration: none;
    border-color: #000000;
    border-style:solid;
    border-width: 2px;
    border-radius: 0.5rem;
    transition-property: background-color, font-size;
    transition-duration: 0.8s;
}
