body{
	background-color: #C4C5CC;
	font-family: Avenir;
	margin: 0;
}

p{
	margin: 0;
}

#navBar ul{
	list-style-type: none;
    /*position: fixed;*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #7B7B7F;
    top: 0;
    width: 100%;
    text-align: center;
}

#navBar li{
	display: inline-block;
	margin: 0px;
	padding: 0px;
}

#navBar li a{

	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin: 0;
}

#navBar li a:hover{
	background-color: #54577F;
}

.activeNavBarItem{
	background-color: #3D3D40;
}

#pageWrap{
	background-color: #F5F6FF;
	max-width: 960px;
	margin: auto;
}

#pageTitle{
	text-align: center;
	font-size: 40px;
	font-weight: bold;
}

#pageSubtitle{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}
