.selfImageClass{
	display: block;
	margin: auto;
	width: 50%;
	height: auto;
}

#columnContainer{
	display: flex;
	flex-wrap: wrap;
}

#blurb{
	font-size: 18px;
    text-align: left;
    padding: 10px;
}


#jobSentence{
    font-size: 20px;
    text-align: center;
    padding:10px;
    font-weight: bold;
}

#resume{
    font-size: 20px;
    text-align: center;
    padding:10px;
    font-weight: bold;
}
